<section id="footer">
	<div class="content">
		
		<div id="footer-copyright">
			<img src="img/footer/logo.png" alt="logo">
			<div id="footer-copyright-text">All Rights Reserved by Alecto</div>
		</div>

		<ul id="footer-menu">
			<a href="#" class="footer-menu-item"><li>Home</li></a>
			<a href="#" class="footer-menu-item"><li>About</li></a>
			<a href="#" class="footer-menu-item"><li>Work</li></a>
			<a href="#" class="footer-menu-item"><li>Service</li></a>
			<a href="#" class="footer-menu-item"><li>Blog</li></a>
		</ul>

	</div>
</section>