<section id="header">
	
	<div id="header-content">
		
		<img id="header-logo" src="img/header/Logo.png"></img>

		<ul id="header-menu">
			<li to="header" class="header-menu-button">Home</li>
			<li to="about-us" class="header-menu-button">About</li>
			<li to="awsome" class="header-menu-button">Work</li>
			<li to="services" class="header-menu-button">Services</li>
			<li to="world" class="header-menu-button">Blog</li>
		</ul>

		<div id="header-slider">
			<ul>

				<li class="header-slider-slide">
					<div class="slide-main-text">
						<span class="bold">Alecto</span> is simple PSD Template
					</div>
					<div class="slide-second-text">Nam varius accumsan elementum aliquam</div>
					<a href="#" class="slide-button">Learn more</a>
				</li>

				<li class="header-slider-slide">
					<div class="slide-main-text">
						<span class="bold">Alecto</span> is simple PSD Template
					</div>
					<div class="slide-second-text">Nam accumsan elementum aliquam</div>
					<a href="#" class="slide-button">Learn more</a>
				</li>

			</ul>
		</div>

	</div>

	<img id="header-down-arrow" src="img/header/Down-arrow.png"></img>

</section>